/*
based on: https://codepen.io/DavidKern/pen/PwzYvv
*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

body {
  background: #fff;
  color: #000;
  font-family: 'Lato', Arial, sans-serif;
}

h1 {
  font-family: 'proxima-nova', sans-serif;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  margin-left: -3px;
  line-height: 1em;
  color: #000;
  text-align: center;
  margin-bottom: 8px;
  text-rendering: optimizeLegibility;
}

table {
  width: 80%;
  margin: auto;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

th {
  background-color: #ddd;
}

th,
td {
  padding: 15px;
}
